<table class='table'>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nom</td>
            <td>Nombre d'articles</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <% item.each do |category| %>
            <tr>
               <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td><%= category.posts_count %></td>
                <td>
                    <a href="<%= category_path(category.id) %>" class="btn btn-primary btn-sm">Voir</a>
                    <a href="<%= edit_category_path(category.id) %>" class="btn btn-primary btn-sm">Editer</a>
                    <a href="<%= category_path(category.id) %>" class="btn btn-danger btn-sm" data-confirm="Etes vous sur ?" data-method="delete">Supprimer</a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
